<div class="center jumbotron">
  <h1>Insiduous Designs</h1>

  <h2>
    Insiduous specializes in powersports graphics and design. From dirtbike kits, sled and helmet wraps, to banners, stickers, and advertising materials.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>